

<footer>
    <div class="container">
          <div class="row align-items-start">
            <div class="col colUno">
              <h1 class="logoFooter">Company</h1>
            </div>
            <div class="col colDos">
                <h3 class="section">Section</h3>
              <ul class="contentFooter">
                   
                    <li><a class="linkFooter" href="#">link</a></li>
                    <li><a class="linkFooter" href="#">link</a></li>
                    <li><a class="linkFooter" href="#">link</a></li>
                 

              </ul>
            </div>
            <div class="col colTres">
                 <h3 class="section">Section</h3>
              <ul class="contentFooter">
            
                <li><a class="linkFooter" href="#">link</a></li>
                <li><a class="linkFooter" href="#">link</a></li>
                <li><a class="linkFooter" href="#">link</a></li>
             
              </ul>
            </div>
            <div class="col colCuatro">

                <ul class="redesSociales">
                      <li class="redesLink"><i class="fa fw-fa fa-facebook"></i></li>
                      <li class="redesLink"><i class="fa fw-fa fa-instagram"></i></li>
                      <li class="redesLink"><i class="fa fw-fa fa-youtube"></i></li>
                </ul>
              </div>
          </div>


          
</footer>
