<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/boobstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/user.css">
    <script src="https://kit.fontawesome.com/a2a36798e5.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
<header>
    <nav>
   
          
   <div class="search">
    <h1 class="logo">Company</h1>
          <form >
           <input type="text" name="busqueda" placeholder="Buscar productos"> 
           <button class="boton"><img src="./img/search.png" alt="lupa" class="search" width="30px" height="30px"> </button> 
     </form>

     <ul>
           <li class="links"><a href="#" class="textMenu">Iniciar Sesión</a></li>
           <li class="links"><a href="#" class="textMenu"><img src="./img/car-shopping_blue.png" alt="carrito de compra" width="40px" height="40px"></a></li>
     </ul>
    </div>
</nav>
<div id="nav2">
    <ol class="Submenu">
          <li class="linksDos"><a class="textSubM" href="#">Link 1</a></li>
          <li class="linksDos"><a class="textSubM" href="#">Link 2</a></li>
        
            
</div>
</header>