
<header>
    <nav>
   
          
   <div class="search">
    <h1 class="logo">Company</h1>
          <form >
           <input type="text" name="busqueda" placeholder="Buscar productos"> 
           <button class="boton"><img src="../public/img/search.png" alt="lupa" width="30" height="30"> </button> 
     </form>

     <ul>
           <li class="links"><a href="#" class="textMenu">Iniciar Sesión</a></li>
           <li class="links"><a href="#" class="textMenu"><img src="../public/img/car-shopping_blue.png" alt="carrito de compra" width="40" height="40"></a></li>
     </ul>
    </div>
</nav>
<div id="nav2">
    <ol class="Submenu">
          <li class="linksDos"><a class="textSubM" href="#">Link 1</a></li>
          <li class="linksDos"><a class="textSubM" href="#">Link 2</a></li>
          <li class="linksDos"><a class="textSubM" href="#">Link 3</a></li>
          <li class="linksDos"><a class="textSubM" href="#">Link 4</a></li>

    </ol>
</div>
</header>