<div class='centro'>
    <div class='contenedor'>
     <div class='user'>  <img src='./img/paisaje (1).png' alt='' style='width: 200px; height: auto;'>
     </div>
    
     <div class='userInfo'>
        <table class='table'>
         <tbody >
    <tr >
    <td id='RowUno'>Nombre</td>
    <td class='infoDos'> Pedro</td>
    
    </tr>
    <tr>
    <td id='RowUno'>Apellido</td>
    <td class='infoDos'> Juares </td>
    </tr>
    
    <tr>
        <td id='RowUno'>Telefono</td>
        <td class='infoDos'>4646964 </td>
    </tr>
    
         </tbody>
          
    
        </table>
    
    </div>
    
    </div>
    
    </div>
    